<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT OurClients ANY>
<!ATTLIST OurClients id ID #REQUIRED>
<!ELEMENT Quote ANY>
<!ATTLIST Quote id ID #REQUIRED>
<!ELEMENT Root ANY>
<!ATTLIST Root id ID #REQUIRED>

]>
<root id="-1">
  <Root id="1100" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-05T16:50:55" updateDate="2015-09-05T20:33:35" nodeName="En" urlName="en" path="-1,1100" isDoc="" nodeType="1098" creatorName="Chris Thomas" writerName="admin" writerID="1" template="1112" nodeTypeAlias="Root">
    <Home id="1101" parentID="1100" level="2" creatorID="0" sortOrder="0" createDate="2015-09-05T16:51:20" updateDate="2015-09-05T20:16:58" nodeName="Home" urlName="home" path="-1,1100,1101" isDoc="" nodeType="1099" creatorName="Chris Thomas" writerName="admin" writerID="1" template="1096" nodeTypeAlias="Home">
      <box1><![CDATA[We cover all aspects of roofing and building work. Click to see full list]]></box1>
      <box2><![CDATA[Why not get a Quote today. Did I mention it was FREE!]]></box2>
      <box3><![CDATA[If your still unsure, why not see what our clients say about us]]></box3>
      <bannerHeading><![CDATA[Welcome to CDT Roofing]]></bannerHeading>
      <bannerText><![CDATA[With over 40 years experience, why not get a quote today!]]></bannerText>
      <buttonText><![CDATA[Get A Quote]]></buttonText>
    </Home>
    <About id="1109" parentID="1100" level="2" creatorID="1" sortOrder="1" createDate="2015-09-05T20:29:29" updateDate="2015-09-05T20:29:29" nodeName="About" urlName="about" path="-1,1100,1109" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="1" template="1106" nodeTypeAlias="About" />
    <OurClients id="1110" parentID="1100" level="2" creatorID="1" sortOrder="2" createDate="2015-09-05T20:29:39" updateDate="2015-09-05T20:29:39" nodeName="Our Clients" urlName="our-clients" path="-1,1100,1110" isDoc="" nodeType="1105" creatorName="admin" writerName="admin" writerID="1" template="1108" nodeTypeAlias="OurClients" />
    <Quote id="1111" parentID="1100" level="2" creatorID="1" sortOrder="3" createDate="2015-09-05T20:29:51" updateDate="2015-09-05T20:29:51" nodeName="Quote" urlName="quote" path="-1,1100,1111" isDoc="" nodeType="1104" creatorName="admin" writerName="admin" writerID="1" template="1107" nodeTypeAlias="Quote" />
  </Root>
</root>